.active{
    text-decoration: none;
    color: #7DE75A;
    background-image: linear-gradient( #007084, #2F4858);    
    padding: 5px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 15%;
    box-shadow: 0rem 0rem 0.3rem black;
    text-shadow: 0rem 0rem 0.3rem black;
    z-index: 9;
}

.actives{
    text-decoration: none;
    color: #7DE75A;
    background-image: linear-gradient( #007084, #2F4858);    
    padding: 5px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 15%;
    text-shadow: 0rem 0rem 0.3rem black;
    box-shadow: 0rem 0rem 0.3rem black;
    z-index: 9;
}

